################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ResourceLogger/bin
/ResourceLogger/obj
/ResourceLogger/logs/system
/ResourceLogger/logs*
/.vs
